
<div id="footer">
    <footer>
          <h3>
              <p>&#169; All Rights Reserved</p>
          </h3>
          <p>
              <cite title="Source Title">Author : Himanshu Vaidya</cite>
          </p>     
    </footer>
</div>
    
   
 